<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBoot3Application" type="JetRunConfigurationType" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="com.guiguselection.SpringBoot3Application" />
    <module name="guiguselection.main" />
    <shortenClasspath name="NONE" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>